<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:search, "Search for:") %>
  <%= text_field_tag(:search) %>
  <%= submit_tag("Search") %>
<% end %>

<% @articles.each do |article| %>
  <article>
    <h1><%= link_to article.title, article_path(article) %></h1>
    <h2><%= article.created_at.strftime("%A — %B #{article.created_at.day.ordinalize}, %Y") %></h2>

    <section class='article-text-container'>
      <%= truncate(strip_tags(article.text).first(100), length: 140)%>		
    </section>

    <% if article != @articles.last %>
      <hr>
    <% else %>
      <br>
      <br>
      <br>
      <br>
    <% end %>
  </article>
<% end %>

<script>
  $('nav ul li#archives').addClass('active')
</script>