<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="description" content="An adorable little blog. One of those internet things about computers. Written by Zane Swafford.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Otters</title>
  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://otters.io/feed.rss">
  <%= render 'partials/favicon' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= content_for?(:head) ? yield(:head) : nil %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="background_container">
  <header>
    <div id='logo_container'>
      <div id='title_container'>
        <%= image_tag 'logo.png' %>
        <h1>otters.io</h1>
        <small>An adorable little blog</small>
      </div>
    </div>
  </header>
  
    <div id="main">
      <nav>
        <ul>
          <li id='current'><%= link_to "Current", articles_path %></li>
          <li id='archives'><%= link_to "Archives", archives_path %></li>
          <li id='colophon'><%= link_to "Colophon", colophon_path %></li>
        </ul>
      </nav>
      
      <%= yield %>  
    </div>
  
  <footer>
    <div>
      <%= link_to "RSS", "feed.rss" %>
      <%= mail_to "zane@otters.io", "Email"%>
      <a href="https://twitter.com/ZaneSwafford" target="_blank">Twitter</a>
    </div>
    <small>© Otters <%= Time.now.year %></small>
  </footer>
  <%= render 'partials/analytics' %>
</div>
</body>
</html>
